body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  /* padding: 5px 25px; */
  font-size: 18px;
  /* margin: 0; */
  margin: 0 auto !important;
  color: #444;
  max-width: 1200px;
}
